[Unit]
Description=LuocyNet PeerHub API
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/peerhub/api/
ExecStart=bun run /opt/peerhub/api/app.js
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target